<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://android.com"
    xmlns:tools="http://android.com">

    <!-- Δικαιώματα για τη χρήση Bluetooth Low Energy -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- Απαραίτητα δικαιώματα για σύγχρονα Android (Android 12 και μετά) -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Η τοποθεσία απαιτείται από το Android για την εύρεση BLE συσκευών (π.χ. στο Redmi 8T) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Δήλωση ότι η εφαρμογή απαιτεί οπωσδήποτε hardware Bluetooth LE για να λειτουργήσει -->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ESP32test"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ESP32test"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
